.stiker {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s box-shadow;
}

.stiker--inMove {
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.8);
    /* transform: scale(1.05); */
    /* transform-origin: top center */
}

.stiker__head {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #bbb;
    user-select: none;
}

.stiker__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
}

.stiker__body {
    display: flex;
    position: relative;
    width: 100%;
}

.stiker__body::after {
    font-family: 'Material Icons';
    content: 'signal_cellular_4_bar';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    pointer-events: none;
    background-color: #fff;
    font-size: 10px;
    color: #555;
}

.stiker__body textarea {
    width: 250px;
    min-width: 250px;
    min-height: 200px;
    border: none;
    outline: none;
    padding: 10px;
}

.stiker__body textarea::selection {
	background: #555;
	color: #fff;
	text-shadow: none;
}

.stiker__body textarea::-webkit-scrollbar-track {
	background: transparent;
}

.stiker__body textarea::-webkit-scrollbar {
	width: 10px;
    height: 10px;
}

.stiker__body textarea::-webkit-scrollbar-thumb {
	background-color: #555;
    cursor: pointer;
    border-radius: 5px;
}

